
h1 {
  margin: 0;
}
.container {
  top: 0;
  width: 100%;
  background-color: gray;
}

// header {
//   width: 100%;
//   padding-block: 10px;
//   position: sticky;
//   top: 0px;
//   background-color: gray;
//   nav {
//     width: 80%;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     margin-inline: auto;

//     ul {
//       list-style: none;
//       display: flex;
//       li {
//         margin-trim: all;
//         margin-inline: 40px;
//       }
//     }
//   }
// }
// ul {
//   margin: 0;
//   padding: 0;
//   list-style: none;
//   display: flex;
//   li {
//     margin: 0;
//     margin-trim: all;
//     margin-inline: 40px;
//   }
// }
// .navbar {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   height: 10px;
//   background: black;
//   transform-origin: 0%;
// }
// a {
//   color: aqua !important;
// }
// a.active {
//   color: black !important;
// }
// h1{
//   margin: 0;width: 100%;text-align: center;
// }
