/* * {
  box-sizing: border-box;
  background-color: rgb(0 100 0 / 0.05) !important;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a.active {
  color: gray !important;
}

// task
.chakra-input {
  border: 0 !important;
  background-color: #313131 !important;
  &:focus-visible {
    border: transparent !important;
    box-shadow: none !important;
  }
}
.roll-selector {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    background-image: linear-gradient(to bottom, #202020, transparent);
    padding-block: 20px;
    width: 100%;
  }
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to top, #202020, transparent);
    padding-block: 20px;
    width: 100%;
  }
}
.table-container {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #313131;
    border-radius: 20px;
    height: 250px;
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
}
// card/////////////////
// .container {
//   background-color: #b60cff;
//   padding: 40px;
//   border-radius: 10px;
//   display: grid;
//   grid-template-columns: repeat(2, minmax(0, 1fr));
//   grid-template-rows: repeat(2, minmax(0, 1fr));
//   gap: 10px;

//   .card {
//     padding: 8px;
//     border-radius: 10px;
//     display: grid;
//     grid-template-rows: repeat(2, minmax(0, 1fr));
//     background-color: gray;
//   }
// }
// .modal {
//   height: 50dvh;
//   width: 50vw;
//   top: 50%;
//   left: 50%;
//   background-color: gray;
//   .overlay {
//     background-color: #b60bff78;
//     height: 100dvh;
//     width: 100vw;
//     z-index: 4;
//     position: absolute;
//   }
// }
// .lenis {
//   &.lenis-smooth {
//     scroll-behavior: auto;

//     [data-lenis-prevent] {
//       overscroll-behavior: contain;
//     }
//   }
//   &.lenis-scrolling {
//     iframe {
//       pointer-events: none;
//     }
//   }
//   &.lenis-stopped {
//     overflow: hidden;
//   }
// }