/* * {
  box-sizing: border-box;
  background-color: rgb(0 100 0 / 0.05) !important;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a.active {
  color: rgb(91, 91, 91) !important;
}
.lenis {
  &.lenis-smooth {
    scroll-behavior: auto;

    [data-lenis-prevent] {
      overscroll-behavior: contain;
    }
  }
  &.lenis-scrolling {
    iframe {
      pointer-events: none;
    }
  }
  &.lenis-stopped {
    overflow: hidden;
  }
}
// task
.chakra-input {
  border: 0 !important;
  background-color: #313131 !important;
  &:focus-visible {
    border: transparent !important;
    box-shadow: none !important;
  }
}
.roll-selector {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    background-image: linear-gradient(to bottom, #202020, transparent);
    padding-block: 20px;
    width: 100%;
  }
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to top, #202020, transparent);
    padding-block: 20px;
    width: 100%;
  }
}
.table-container {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #313131;
    border-radius: 20px;
    height: 250px;
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
}
